<h1>Add a New Destination</h1>

<%=form_for [@trip, @destination] do |f|%>
<div class="destination-seperation">
  <strong class="destination-seperation">Name:</strong><h5 class="destination"> City or Province<br>
  <%=f.text_field :name %><br style="line-height:100">
</div>
<div class="destination-seperation">
  <strong class="destination-seperation">Notes:</strong><h5 class="destination"><br>
  <%=f.text_area :notes, :placeholder => "You can add this later" %><br style="line-height:100">
</div>
<%=f.submit%>

<%end%>
