// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#destination_button_top{
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.additional_buttons{
  margin-top: 0px;
  padding-top: 0px;
  border-width: 1px
}
