
#transport_to_display{
  color: black;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  width: 30%;
  height: 300px;
  display: inline-block;
  position: none;
  float:left;


}

#destination{
  display: inline-block;
  width: 25%;

}

#destination-heading{
  //background-color: black;
}


#transport_from_display{
  color: black;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  width: 30%;
  height: 300px;
  display: inline-block;
  position: none;
  float:right;
}
